
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/008.testlog
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/testlog.manifest
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/testlog.manifest
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/testlog.manifest
frontend/node_modules
Backend/The6Bits.BitOHealth/WebAppAPI/secrets.json
