
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/008.testlog
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/testlog.manifest
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/testlog.manifest
Backend/The6Bits.BitOHealth/.vs/The6Bits.BitOHealth/v17/TestStore/0/testlog.manifest
*.icloud
*.testlog
*.manifest
*.manifest
